.logo {
    transform: perspective(800px) rotateY(0deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: transform 300ms ease-in-out;
}

.logo:hover{
    transform: perspective(800px) rotateY(20deg) translateZ(6px) rotateZ(5deg);
}

