.logo {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: transform 300ms ease-in-out;
}

.logo:hover{
    animation: girarLogo 4s infinite alternate;
}

@keyframes girarLogo {
    0% {
        transform: perspective(600px) rotateY(-20deg) translateZ(0);
    }
    25% {
        transform: perspective(600px) rotateY(0deg) translateZ(3px);
    }
    50% {
        transform: perspective(600px) rotateY(20deg) translateZ(6px);
    }
    75% {
        transform: perspective(600px) rotateY(0deg) translateZ(3px);
    }
    100% {
        transform: perspective(600px) rotateY(-20deg) translateZ(0);
    }
}

